/* .room-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.category {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f7f7f7;
}

button {
    /* Your button styles here */
    background-color: #3498db; /* Change to your desired background color */
    color: #fff; /* Change to your desired text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    margin: 5px; /* Margin between buttons */
    width: calc(10% - 10px); /* Adjust the width for 25 buttons per row */
    margin-bottom: 10px; /* Add margin between rows */
}


